<!DOCTYPE html>
<html lang="en" class="no-js">
<head class="html5reset-kitchensink-clean">
  <meta charset="utf-8" />
  <meta name="google-site-verification" content="LirEfdzOpsT5fsjl0Di05wXm_agX47gPOVc8kZzsO8s" />
  <title>{{site.name}} - {{site.author}}
    {% if title %}
     : {{ title }}
    {% endif %}
  </title>
  <script type="text/javascript">  var disqus_developer = 0; </script>
  {% if summary %}
  <meta name="description" content="{{ summary }}" />
  {% endif %}
  <meta name="created" content="{{date}}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{site.author}}" />
  <meta name="Copyright" content="Copyright {{site.author}} 2010 - 2016. All Rights Reserved." />
  <meta name="DC.title" content="{{site.name}}" />
  <meta name="DC.subject" content="Computer programming, music, open source." />
  <meta name="DC.creator" content="{{site.author}}." />
  <link href="/favicon.png" type="image/png" rel="icon">
  <!-- For third-generation iPad with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/apple-touch-icon-144x144-precomposed.png">
  <!-- For iPhone with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/apple-touch-icon-114x114-precomposed.png">
  <!-- For first- and second-generation iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/apple-touch-icon-72x72-precomposed.png">
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="/assets/img/apple-touch-icon-precomposed.png">

  <link href='//fonts.googleapis.com/css?family=IM+Fell+English:400italic,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/assets/css/master.min.css" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{site.rss_url}}" rel="alternate" title="The Dynamic Programmer - Hernan Garcia" type="application/atom+xml" />
</head>
<body>