{% include "./_partials/default_header.html" %}
{% include "./_partials/menu.html" %}
  <div class="top-hero" style="background: url('https://farm6.staticflickr.com/5570/14881545769_0e45d31c4f_h.jpg');">
  </div>
<div class="roll">
  <article>
    <header>
      <h1>The d<span class="accent-font">y</span>namic programmer <br/> {{title}}</h1>
    </header>
  </article>
{% for post in posts %}
  {% assign p = post %}
  {% for category in post.categories %}
  {% if category == categoryName %}
    <article class="listing">
        <h2><a href="{{ p.permaLinkUrl}}">{{ p.title }}</a></h2>
      <div>{{ p.summary }}</div>
    </article>
  {% endif %}
  {% endfor %}
{% endfor %}
</div>
{% include "./_partials/default_footer.html" %}
