{% include "./_partials/default_header.html" %}
  <div class="top-hero" style="background: url('https://farm6.staticflickr.com/5570/14881545769_0e45d31c4f_h.jpg');">
    <a class="home-link" href="/" title="home"><i class="fa fa-home"></i></a>
    {% include "./_partials/menu.html" %}
    <header>
      <h1>The d<span class="accent-font">y</span>namic programmer - {{title}}</h1>
    </header>
  </div>
<div class="roll">
{% for category in categories %}
    <article>
        <h2><a href="ajax/index.js">{{ category.name }}</a></h2>
      <div>{{ category.description }}</div>
    </article>
{% endfor %}
</div>
{% include "./_partials/default_footer.html" %}
