{% include "./_partials/default_header.html" %}
  <div class="top-hero" style="background: url('https://farm6.staticflickr.com/5570/14881545769_0e45d31c4f_h.jpg');">

    {% include "./_partials/menu.html" %}
    <header>
      <h1>The d<span class="accent-font">y</span>namic programmer</h1>
    </header>
  </div>

  <div class="roll">
  {% for post in posts limit:25 %}
    <article class="listing">
        <h2><a href="{{ post.permaLinkUrl}}">{{ post.title }}</a></h2>
      <div>{{ post.summary }}</div>
    </article>
  {% endfor %}
  </div>
{% include "./_partials/default_footer.html" %}